In [320]:
import pandas as pd
import numpy as np
import pickle

In [141]:
df_type = pd.read_excel("./mental_health_by_country.xlsx", "prevalence-by-mental-and-substa")

In [142]:
df_type.dropna(inplace=True)

In [143]:
df_type = df_type[df_type.Year <= 2017]
df_type = df_type[df_type.Year >= 1990]

In [144]:
df_type.shape

(5488, 10)

In [4]:
df_suicide = pd.read_excel("./mental_health_by_country.xlsx", "suicide-rates-vs-prevalence-of-")

In [21]:
valid_years = [str(i) for i in range(1990, 2018)]

In [24]:
df_suicide.dropna(inplace=True)

In [30]:
df_suicide['Year'] = df_suicide["Year"].astype(int)

In [106]:
df_gdp = pd.read_csv("GDP.csv")

In [107]:
df_gdp = df_gdp.melt(df_gdp.columns[:2], 
        var_name="Year", 
        value_name="GDP")

In [117]:
df_gdp = df_gdp[df_gdp.Year.str.contains('|'.join(valid_years))]

In [123]:
df_gdp.sort_values(by=['Country ', 'Year'], inplace=True)
df_gdp.rename(columns={'Country ':'Country'}, inplace=True)

In [125]:
a = df_gdp.values.tolist()
u_gdp = ["-".join([i[1],str(i[2])]) for i in a]

In [145]:
a = df_type.values.tolist()
u_type = ["-".join([i[1],str(i[2])]) for i in a]

In [128]:
a = df_suicide.values.tolist()
u_suicide = ["-".join([i[1],str(i[2])]) for i in a]

In [146]:
df_gdp["cc"] = u_gdp
df_type["cc"] = u_type
df_suicide["cc"] = u_suicide

In [147]:
df_gdp.set_index('cc', inplace=True)
df_type.set_index('cc', inplace=True)
df_suicide.set_index('cc', inplace=True)

In [148]:
df_suicide = df_suicide[df_suicide.columns[3:]]

In [152]:
df_gdp = df_gdp[df_gdp.columns[2:]]

In [159]:
df_gdp = df_gdp[df_gdp.columns[1:]]

In [166]:
df_grand = df_type.join(df_gdp, how='outer').join(df_suicide, how='outer')

In [168]:
df_grand.to_csv("data_grand.csv")

In [171]:
df_grand.shape

(7420, 14)

In [173]:
df_grand.dropna().to_csv("grand_nona.csv")

In [175]:
df_type.join(df_suicide, how='outer').to_csv("data_nogdp.csv")

### Other Datasets

In [251]:
df_unemp = pd.read_excel("unemp_rate.xlsx")

In [252]:
df_unemp = df_unemp.melt(df_unemp.columns[:2], 
        var_name="year", 
        value_name="unemp")

In [253]:
a = df_unemp.values.tolist()
u_unemp = ["-".join([i[1],str(i[2])]) for i in a]

In [254]:
df_unemp["cc"] = u_unemp

In [255]:
df_unemp.set_index('cc', inplace=True)

In [264]:
df_grand_final = df_type.join(df_unemp).join(df_suicide).join(df_gdp).dropna()

In [265]:
df_grand_final.to_csv("grand_final.csv")

In [267]:
df_hdi = pd.read_csv('hdi.csv')

In [269]:
df_hdi = df_hdi.melt(df_hdi.columns[:2], 
        var_name="year", 
        value_name="HDI")

In [279]:
df_grand_final.rename(columns={"Entity":"Country"}, inplace=True)

In [280]:
df_hdi.rename(columns={"year":"Year"}, inplace=True)

In [284]:
df_hdi['Year'] = df_hdi['Year'].astype(int)

In [286]:
df_grand_final

,Country,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Country Name,Country Code,year,unemp,"Suicide rate (deaths per 100,000 individuals)","Depressive disorder rates (number suffering per 100,000)",Population,GDP
cc,,,,,,,,,,,,,,,,,,
AFG-2002,Afghanistan,AFG,2002,0.162414,0.701141,0.087023,4.838318,1.934326,4.124928,0.659213,Afghanistan,AFG,2002,11.68,11.054472,4072.374112,22601000.0,839.485886
AFG-2003,Afghanistan,AFG,2003,0.162916,0.701860,0.087189,4.845538,2.051106,4.125230,0.657354,Afghanistan,AFG,2003,11.68,10.931093,4068.397513,23681000.0,888.153370
AFG-2004,Afghanistan,AFG,2004,0.163377,0.702556,0.088158,4.851512,2.163044,4.126384,0.656132,Afghanistan,AFG,2004,11.61,10.839790,4065.528285,24727000.0,885.840819
AFG-2005,Afghanistan,AFG,2005,0.163706,0.703078,0.088933,4.854684,2.247443,4.126908,0.655686,Afghanistan,AFG,2005,11.52,10.655626,4062.969367,25654000.0,979.273979
AFG-2006,Afghanistan,AFG,2006,0.163977,0.703517,0.090054,4.856685,2.321020,4.128638,0.656297,Afghanistan,AFG,2006,11.34,10.538475,4062.239018,26433000.0,1031.643135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE-2013,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641,Zimbabwe,ZWE,2013,5.38,28.361200,3048.264249,13350000.0,2583.985638
ZWE-2014,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470,Zimbabwe,ZWE,2014,5.33,27.605547,3056.996704,13587000.0,2648.568967
ZWE-2015,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751,Zimbabwe,ZWE,2015,5.29,27.197061,3068.250731,13815000.0,2679.580317
ZWE-2016,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269,Zimbabwe,ZWE,2016,5.24,26.839591,3081.782858,14030000.0,2687.385429
ZWE-2017,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943,Zimbabwe,ZWE,2017,5.15,26.391769,3094.795065,14237000.0,2825.725122

In [287]:
df_hdi

      HDI Rank                              Country  Year    HDI
0          168                          Afghanistan  1990    NaN
1           68                              Albania  1990  0.645
2           85                              Algeria  1990  0.577
3           35                              Andorra  1990    NaN
4          147                               Angola  1990    NaN
...        ...                                  ...   ...    ...
5287        78   Venezuela (Bolivarian Republic of)  2017  0.761
5288       116                             Viet Nam  2017  0.694
5289       178                                Yemen  2017  0.452
5290       144                               Zambia  2017  0.588
5291       156                             Zimbabwe  2017  0.535

[5292 rows x 4 columns]

In [288]:
ccode = ISO3166 = {
	'AD': 'Andorra',
	'AE': 'United Arab Emirates',
	'AF': 'Afghanistan',
	'AG': 'Antigua & Barbuda',
	'AI': 'Anguilla',
	'AL': 'Albania',
	'AM': 'Armenia',
	'AN': 'Netherlands Antilles',
	'AO': 'Angola',
	'AQ': 'Antarctica',
	'AR': 'Argentina',
	'AS': 'American Samoa',
	'AT': 'Austria',
	'AU': 'Australia',
	'AW': 'Aruba',
	'AZ': 'Azerbaijan',
	'BA': 'Bosnia and Herzegovina',
	'BB': 'Barbados',
	'BD': 'Bangladesh',
	'BE': 'Belgium',
	'BF': 'Burkina Faso',
	'BG': 'Bulgaria',
	'BH': 'Bahrain',
	'BI': 'Burundi',
	'BJ': 'Benin',
	'BM': 'Bermuda',
	'BN': 'Brunei Darussalam',
	'BO': 'Bolivia',
	'BR': 'Brazil',
	'BS': 'Bahama',
	'BT': 'Bhutan',
	'BU': 'Burma (no longer exists)',
	'BV': 'Bouvet Island',
	'BW': 'Botswana',
	'BY': 'Belarus',
	'BZ': 'Belize',
	'CA': 'Canada',
	'CC': 'Cocos (Keeling) Islands',
	'CF': 'Central African Republic',
	'CG': 'Congo',
	'CH': 'Switzerland',
	'CI': 'Côte D\'ivoire (Ivory Coast)',
	'CK': 'Cook Iislands',
	'CL': 'Chile',
	'CM': 'Cameroon',
	'CN': 'China',
	'CO': 'Colombia',
	'CR': 'Costa Rica',
	'CS': 'Czechoslovakia (no longer exists)',
	'CU': 'Cuba',
	'CV': 'Cape Verde',
	'CX': 'Christmas Island',
	'CY': 'Cyprus',
	'CZ': 'Czech Republic',
	'DD': 'German Democratic Republic (no longer exists)',
	'DE': 'Germany',
	'DJ': 'Djibouti',
	'DK': 'Denmark',
	'DM': 'Dominica',
	'DO': 'Dominican Republic',
	'DZ': 'Algeria',
	'EC': 'Ecuador',
	'EE': 'Estonia',
	'EG': 'Egypt',
	'EH': 'Western Sahara',
	'ER': 'Eritrea',
	'ES': 'Spain',
	'ET': 'Ethiopia',
	'FI': 'Finland',
	'FJ': 'Fiji',
	'FK': 'Falkland Islands (Malvinas)',
	'FM': 'Micronesia',
	'FO': 'Faroe Islands',
	'FR': 'France',
	'FX': 'France, Metropolitan',
	'GA': 'Gabon',
	'GB': 'United Kingdom (Great Britain)',
	'GD': 'Grenada',
	'GE': 'Georgia',
	'GF': 'French Guiana',
	'GH': 'Ghana',
	'GI': 'Gibraltar',
	'GL': 'Greenland',
	'GM': 'Gambia',
	'GN': 'Guinea',
	'GP': 'Guadeloupe',
	'GQ': 'Equatorial Guinea',
	'GR': 'Greece',
	'GS': 'South Georgia and the South Sandwich Islands',
	'GT': 'Guatemala',
	'GU': 'Guam',
	'GW': 'Guinea-Bissau',
	'GY': 'Guyana',
	'HK': 'Hong Kong',
	'HM': 'Heard & McDonald Islands',
	'HN': 'Honduras',
	'HR': 'Croatia',
	'HT': 'Haiti',
	'HU': 'Hungary',
	'ID': 'Indonesia',
	'IE': 'Ireland',
	'IL': 'Israel',
	'IN': 'India',
	'IO': 'British Indian Ocean Territory',
	'IQ': 'Iraq',
	'IR': 'Islamic Republic of Iran',
	'IS': 'Iceland',
	'IT': 'Italy',
	'JM': 'Jamaica',
	'JO': 'Jordan',
	'JP': 'Japan',
	'KE': 'Kenya',
	'KG': 'Kyrgyzstan',
	'KH': 'Cambodia',
	'KI': 'Kiribati',
	'KM': 'Comoros',
	'KN': 'St. Kitts and Nevis',
	'KP': 'Korea, Democratic People\'s Republic of',
	'KR': 'Korea, Republic of',
	'KW': 'Kuwait',
	'KY': 'Cayman Islands',
	'KZ': 'Kazakhstan',
	'LA': 'Lao People\'s Democratic Republic',
	'LB': 'Lebanon',
	'LC': 'Saint Lucia',
	'LI': 'Liechtenstein',
	'LK': 'Sri Lanka',
	'LR': 'Liberia',
	'LS': 'Lesotho',
	'LT': 'Lithuania',
	'LU': 'Luxembourg',
	'LV': 'Latvia',
	'LY': 'Libyan Arab Jamahiriya',
	'MA': 'Morocco',
	'MC': 'Monaco',
	'MD': 'Moldova, Republic of',
	'MG': 'Madagascar',
	'MH': 'Marshall Islands',
	'ML': 'Mali',
	'MN': 'Mongolia',
	'MM': 'Myanmar',
	'MO': 'Macau',
	'MP': 'Northern Mariana Islands',
	'MQ': 'Martinique',
	'MR': 'Mauritania',
	'MS': 'Monserrat',
	'MT': 'Malta',
	'MU': 'Mauritius',
	'MV': 'Maldives',
	'MW': 'Malawi',
	'MX': 'Mexico',
	'MY': 'Malaysia',
	'MZ': 'Mozambique',
	'NA': 'Namibia',
	'NC': 'New Caledonia',
	'NE': 'Niger',
	'NF': 'Norfolk Island',
	'NG': 'Nigeria',
	'NI': 'Nicaragua',
	'NL': 'Netherlands',
	'NO': 'Norway',
	'NP': 'Nepal',
	'NR': 'Nauru',
	'NT': 'Neutral Zone (no longer exists)',
	'NU': 'Niue',
	'NZ': 'New Zealand',
	'OM': 'Oman',
	'PA': 'Panama',
	'PE': 'Peru',
	'PF': 'French Polynesia',
	'PG': 'Papua New Guinea',
	'PH': 'Philippines',
	'PK': 'Pakistan',
	'PL': 'Poland',
	'PM': 'St. Pierre & Miquelon',
	'PN': 'Pitcairn',
	'PR': 'Puerto Rico',
	'PT': 'Portugal',
	'PW': 'Palau',
	'PY': 'Paraguay',
	'QA': 'Qatar',
	'RE': 'Réunion',
	'RO': 'Romania',
	'RU': 'Russian Federation',
	'RW': 'Rwanda',
	'SA': 'Saudi Arabia',
	'SB': 'Solomon Islands',
	'SC': 'Seychelles',
	'SD': 'Sudan',
	'SE': 'Sweden',
	'SG': 'Singapore',
	'SH': 'St. Helena',
	'SI': 'Slovenia',
	'SJ': 'Svalbard & Jan Mayen Islands',
	'SK': 'Slovakia',
	'SL': 'Sierra Leone',
	'SM': 'San Marino',
	'SN': 'Senegal',
	'SO': 'Somalia',
	'SR': 'Suriname',
	'ST': 'Sao Tome & Principe',
	'SU': 'Union of Soviet Socialist Republics (no longer exists)',
	'SV': 'El Salvador',
	'SY': 'Syrian Arab Republic',
	'SZ': 'Swaziland',
	'TC': 'Turks & Caicos Islands',
	'TD': 'Chad',
	'TF': 'French Southern Territories',
	'TG': 'Togo',
	'TH': 'Thailand',
	'TJ': 'Tajikistan',
	'TK': 'Tokelau',
	'TM': 'Turkmenistan',
	'TN': 'Tunisia',
	'TO': 'Tonga',
	'TP': 'East Timor',
	'TR': 'Turkey',
	'TT': 'Trinidad & Tobago',
	'TV': 'Tuvalu',
	'TW': 'Taiwan, Province of China',
	'TZ': 'Tanzania, United Republic of',
	'UA': 'Ukraine',
	'UG': 'Uganda',
	'UM': 'United States Minor Outlying Islands',
	'US': 'United States of America',
	'UY': 'Uruguay',
	'UZ': 'Uzbekistan',
	'VA': 'Vatican City State (Holy See)',
	'VC': 'St. Vincent & the Grenadines',
	'VE': 'Venezuela',
	'VG': 'British Virgin Islands',
	'VI': 'United States Virgin Islands',
	'VN': 'Viet Nam',
	'VU': 'Vanuatu',
	'WF': 'Wallis & Futuna Islands',
	'WS': 'Samoa',
	'YD': 'Democratic Yemen (no longer exists)',
	'YE': 'Yemen',
	'YT': 'Mayotte',
	'YU': 'Yugoslavia',
	'ZA': 'South Africa',
	'ZM': 'Zambia',
	'ZR': 'Zaire',
	'ZW': 'Zimbabwe',
	'ZZ': 'Unknown or unspecified country',
}

In [321]:
with open("./cc.pkl", "rb") as infile:
    c = pickle.load(infile)

In [322]:
df_hdi['Country'] = df_hdi['Country'].apply(lambda x: x.strip())

In [323]:
df_hdi['Code'] = df_hdi['Country'].map(c)

In [324]:
df_hdi.dropna(inplace=True)

In [325]:
df_hdi

         HDI Rank    Country  Year    HDI Code
cc
AL-1990        68    Albania  1990  0.645  ALB
DZ-1990        85    Algeria  1990  0.577  DZA
AR-1990        47  Argentina  1990  0.704  ARG
AM-1990        83    Armenia  1990  0.631  ARM
AU-1990         3  Australia  1990  0.866  AUS
...           ...        ...   ...    ...  ...
VU-2017       138    Vanuatu  2017  0.603  VUT
VN-2017       116   Viet Nam  2017  0.694  VNM
YE-2017       178      Yemen  2017  0.452  YEM
ZM-2017       144     Zambia  2017  0.588  ZMB
ZW-2017       156   Zimbabwe  2017  0.535  ZWE

[4111 rows x 5 columns]

In [326]:
a = df_hdi.values.tolist()
u_hdi = ["-".join([i[4],str(i[2])]) for i in a]

In [327]:
df_hdi['cc'] = u_hdi

In [328]:
df_hdi.set_index('cc', inplace=True)

In [331]:
df_devru = df_grand_final.join(df_hdi['HDI']).dropna()

In [333]:
df_devru.to_csv("absolute_grand_final.csv")